streamlit
streamlit-chat
pandas==1.4.2
seaborn
numpy>=1.21.0,<1.22.0
joblib
google-cloud-vision
matplotlib
plotly
xgboost
scikit-learn
python-dotenv
faiss-gpu
langchain-community
sentence-transformers
langchain
faiss-cpu sentence-transformers
